@font-face {
    font-family: brush;
    src: url(/fonts/fontrust-cufonfonts/Fontrust.otf);
}
@font-face {
    font-family: bf;
    src: url(/fonts/simple-breakfast-cufonfonts/SimpleBreakfast-nRyn4.ttf);
}

@font-face {
    font-family: blanka;
    src: url(/fonts/blanka-cufonfonts/Blanka-Regular.otf);
}
@font-face {
    font-family: king;
    src: url(/fonts/kingthings-piquenmeex-cufonfonts/Kingthings\ Pique\ n\ meex.ttf);
}
@font-face {
    font-family: bfut;
    src: url(/fonts/black-future-cufonfonts/BlackFuture-gx1q3.otf);
}
@font-face {
    font-family: fanta;
    src: url(/fonts/fantasik-cufonfonts/Fantasik-owd1A.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

#topbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:65px;
    background-color: rgb(125, 219, 255,0.1);
    padding: 15px;
    border: 1px solid black;
}
#logo a span{
    font-family: king,sans-serif;
}
#topbar #searchbar #search{
    width: 180px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
#topbar #searchbar #search:focus{
    width: 350px;
}

#topbar #login button{
    margin-left: 187px;
}
#topbar button:hover{
    background-color: rgba(39, 35, 47, 0.66);
    box-shadow: 10px 8px;
    font-size:large;
    color: aliceblue;
}

#ham ul li a:hover{
    font-size: medium;
    font-weight: 200;
    font-family: blanka;
}
#entire{
    margin-top: 50px;
}

#category{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

 #category h6{
    font-size:large;
    text-align: center;
    font-family: fanta,sans-serif;
  }
  
#discountsec{
    margin-top: 50px;
    width: 100%;
    display: flex;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
#cap{
    width: 300px;
    height: 250px;
}
#cont{
    width: 1119px;
    height: 250px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cont #fs{
    height: 220px;
    width: 250px;
}

#cont #fs img:hover{
    width: 200px;
    height: 180px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#cap img:hover{
    width: 200px;
    height: 180px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
#cap h6{
    font-family: bfut,sans-serif;
}

@media only screen and (min-width: 600px) {
    #ham{
        display: none;
    }
    
  }
        
  @media only screen and (max-width: 600px) {
    #topbar{
        display: none;
    }
    #category{
        display: none;
    }
    #cont{
        display: none;
    }
    #discountsec{
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
  }

 